html{
    overflow: hidden;
}

.container{
 background-color: #49647C;
 padding-right: 100%;
 position: absolute;
 left:0;
 z-index: 3;
}
img{
 width: 250px;
 height: 100px;
}
.gg{
    height: 100%;
    position: absolute;
    top:150px;
    z-index: 2;
    background-color: white;
}
.logo{
    width: 50px;
    height: 50px;
}
.nav-link {
    background-color: #A4C6CC;
    margin:0 0 10px 0;   
}
.behind {
    position: absolute;
    left :500px;
    
    width: 1500px;
    height: 1000px;
}
.context{
    position: absolute;
    top:50px;
    align-items: center;
    left :500px;
    padding: 250px;
    background-color: red;
}
.background{
    position: relative;
    padding: 500px;
    padding-right: 100%;
    filter: brightness(100%);
    background: url(pic/background.png);
    
}
#background{
    position: relative;
    top :-350px;
    padding: 450px;
    left :-150px;
    
    padding-right: 1100px;
    filter: brightness(90%);
    border-radius: 4%;
    background: url(pic/background.png);
}