html{
    overflow: hidden;
}

body{
    background: url(pic/background.png);
}
.container{
 background-color: #49647C;
 padding-right: 100%;
 position: absolute;
 left:0;
 z-index: 3;
}
img{
 width: 250px;
 height: 100px;
}
.gg{
    height: 100%;
    position: absolute;
    top:150px;
    z-index: 2;
    background-color: white;
}
.logo{
    width: 50px;
    height: 50px;
}
.nav-link {
    background-color: #A4C6CC;
    margin:0 0 10px 0;   
}
.behind {
    position: absolute;
    left :500px;
    
    width: 1500px;
    height: 1000px;
}

#background{
display: flex;
justify-content: center;
align-items: center;
position: relative;
width: 1528px;
height: 874px;
left: 329px;
top: 136px;

background: url(pic/background.png);


border-radius: 41px;

}
.singin{
    
    /* Group 41 */

position: absolute;
width: 603px;
height: 574px;
justify-content: center;
align-items:center;
top:50px;
border-radius: 4%;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    background-color: white;
  
}