
html{
    overflow: hidden;
    font-family: ltim;
}
@font-face {
    font-family: ltim; /* Name your font family */
    src: url('../Itim/Itim-Regular.ttf'); /* Locate the .ttf file within your directory*/
  }
  div {
    font-family: ltim;
  }
/* body{
    background: url(pic/background.png);
} */
.container{
 background-color: #49647C;
 padding-right: 100%;
 position: absolute;
 left:0;
 z-index: 3;
}
img{
 width: 250px;
 height: 100px;
}
.gg{
    height: 100%;
    position: absolute;
    top:150px;
    z-index: 2;
    background-color: white;
}
.logo{
    width: 50px;
    height: 50px;
}
.nav-link {
    background-color: #A4C6CC;
    margin:0 0 10px 0;   
}


#background{
display: flex;
justify-content: center;
align-items: center;
position: relative;
width: 1528px;
height: 874px;
left: 329px;
top: 136px;



border-radius: 41px;

}
.singin{
    
    /* Group 41 */

position: absolute;
width: 603px;
height: 574px;
justify-content: center;
align-items:center;
text-align: center;
align-content: center;
top:50px;
border-radius: 4%;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    background-color: white;
  
}
h1{
    position: relative;
    font-size: 50px;
    top: 10px;
    font-weight: 600;
    left:-100px;
}
.form-floating{
    width: 70%;
}
.btn-primary{
    position: relative;
    right: -150px
}
input{
    position: relative;
   
    margin-bottom: 20px;
    box-sizing: border-box;

    position: relative;
    width: 401px;
    height: 52.13px;

    /* background-image: url('../pic/user.png'); */
    background-position: 10px; 
    background-repeat: no-repeat;
    background-size: 40px;
    text-align: center;
    background-color: #A4C6CC;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 0px;
    border-radius: 15px;

}
.user{
    background-image: url('../pic/user.png');
}
.pass{
    background-image: url('../pic/padlock.png')
}
form{
    position: relative;
    justify-content: center;
    left:100px;
}
.list
{
    position: relative;
 
    text-align: left;
    margin-bottom: 10px;

}
label{
    position: absolute;
}
.text-in{
    position: absolute;
    left :-200px
}
  /* Check box  */
.switch {
    position: relative;
    display: flex;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
    /* End Check box  */
.textbutton{
    position: relative;
    left :-180px;
    top:-25px;
    vertical-align:top;
    text-align: center;
    display: inline-block;
}